body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s;
}

button:hover {
    opacity: 0.9;
}

p, h1, h3, select {
    margin: 0;
}
