.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-black);
  color: var(--color-text-dark);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.header-inner {
  width: 100%;
  max-width: 1280px; /* Як у твоєму .container */
  padding: 0 1rem; /* Відступи по боках, як у .container */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  height: 60px;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.logo img {
  height: 60px;
  width: auto;
}

.logo:hover {
  filter: drop-shadow(0 0 1rem var(--color-accent-hover));
}

.spin-once {
  animation: spin 0.6s linear;
  filter: drop-shadow(0 0 1rem var(--color-accent-hover));
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

.nav a,
.catalog-btn {
  color: var(--color-text-dark);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px 0;
  transition:
    color 0.3s ease,
    transform 0.2s ease;
}

.nav a:hover,
.catalog-btn:hover {
  color: var(--color-accent);
}

@media (prefers-color-scheme: light) {
  .header {
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
  }

  .nav a,
  .catalog-btn {
    color: var(--color-text-light);
  }

  .dropdown-menu {
    background: var(--color-bg-light);
    border-color: var(--color-accent-hover);
  }

  .dropdown-item {
    color: var(--color-text-light);
  }

  .dropdown-item:hover {
    background: var(--color-accent-hover);
    color: #fff;
  }
}
